<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--MemberVo : AuthVO 는 1:N 관계
    MaBstis의 ResultMap을 이용하여 하나의 쿼리로 조인해서 처리해오는 방식
-->
<mapper namespace="org.zerock.mapper.MemberMapper">
    <resultMap id="memberMap" type="org.zerock.domain.MemberVO">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="username"/>
        <result property="regDate" column="regdate"/>
        <result property="updateDate" column="updatedate"/>
        <collection property="authList" resultMap="authMap">
        </collection>
    </resultMap>

    <resultMap id="authMap" type="org.zerock.domain.AuthVO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        select
            mem.userid, userpw, username, enabled, regdate, updatedate, auth
        from
            tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
        where mem.userid = #{userid}
    </select>
</mapper>